.header__language-link {
  color: #FFFFFf;
  text-decoration: none;
  max-width: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  transition: 0.4s;
}

.header__language-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 568px) {
    .header__language-link {
      max-width: 22px;
      font-size: 18px;
      line-height: 20px;
    }
}



